<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" class="linkedin-button" (click)="linkedInLogin()">
    <ion-icon name="logo-linkedin" float-left></ion-icon>Linkedin
</ion-button>
<ion-button expand="full" class="google-button" (click)="signInWithGoogle()">
  <ion-icon name="logo-google" float-left></ion-icon>Google
</ion-button>
<ion-button expand="full" class="google-button" (click)="signInWithFB()">
  <ion-icon name="logo-facebook" float-left></ion-icon>Facebook
</ion-button>
</ion-content>
